/* Default styles */
body {
    margin: 0;
    box-sizing: border-box;
}

/* Blocks */
/* MAIN =========== */
.page {
    width: 1366px;
    margin: auto;
}

.main {
    margin: 96px 48px;
}

h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    color: #F4F4F4;
}

h2 span {
    background-color: #1519FF;
}

.article {
    display: flex;
    margin: 49px;
    width: 1319px;
    flex-wrap: wrap;
}

.section {
    display: flex;
    width: 619px;
}

.section.first {
    margin-right: 32px;
}

.section.third, .section.fourth {
    margin-top: 33px;
}

.section.fourth {
    margin-left: 33px;
}

.section--img.top {
    position: relative;
    width: 294px;
    height: 294px;
    margin-right: 32px;
}

.section--img.top:after {
    content: "";
    display: block;
    width: 325px;
    height: 2px;
    margin-left: 2rem;
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    left: 262px;
    top: 0;
}

.section--img.bottom {
    position: relative;
    width: 294px;
    height: 294px;
    margin-left: 32px;
}

.section--img.bottom:before {
    content: "";
    display: block;
    width: 325px;
    height: 2px;
    margin-left: 2rem;
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    right: 293px;
    top: 0;
}

h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 4px;
}

h4 {
    margin-bottom: 12px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
}

p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #676767;
}

.top {
    margin-top: 0;
    margin-bottom: 24px;
}

.bottom {
    margin-top: 0;
}

/* FORM ============= */
.article.form {
    display: flex;
}

.form--input {
    width: 619px;
}

.form--input p {
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 170%;
    color: #676767;
}

.form--input p span {
    margin-right: 13px;
    font-family: Space Grotesk;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    text-transform: uppercase;
}

h5 {
    margin-top: 48px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 170%;
    color: #676767;
}

.input {
    display: grid;
    width: 619px;
    margin-top: 32px;
}

.input input {
    border: none;
    border-bottom: 1px solid #676767;
    margin-bottom: 14px;
    padding: 13px 0;
    font-size: 16px;
}

.btn {
    margin-top: 31px;
    height: 33px;
    background-color: white;
    border: none;
    color: #000000;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Space Grotesk';
    font-size: 30px;
    line-height: 110%;
}

.btn:hover {
    color: #676767;
    cursor: pointer;
}

.form--info {
    width: 619px;
    height: 517px;
    margin-left: 32px;
    padding-left: 48px;
    padding-top: 48px;
    background-color: #F4F4F4;
}

h6 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #676767;
}

.price {
    display: flex;
}

.cost {
    margin-right: 48px;
}

.cost p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 52px;
    line-height: 100%;
    color: #000000;
}

.cost p span {
    font-size: 24px;
    line-height: 170%;
}

.discount {
    width: 153px;
    height: 73px;
    background-color: yellow;
}

.discount p {
    margin: 0 5px;
    font-family: Space Grotesk;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}

.discount p span {
    font-family: 'Helvetica Neue';
    font-size: 14px;
    line-height: 140%;
}

.month {
    font-size: 24px;
    line-height: 170%;
    text-decoration: line-through;
}

/* MEDIA =============== */
@media (max-width: 768px) {
    .page {
        max-width: 768px;
        min-height: 100vh;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .page h2 {
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 0;
    }

    .main {
        margin: 76px 32px;
    }

    .article {
        display: grid;
        margin: 0;
    }

    .section {
        margin-top: 48px;
        text-align: left;
    }

    .section.third, .section.fourth {
        flex-direction: row-reverse;
        margin-left: 0;
    }

    .section.fourth {
        margin-top: 48px;
    }

    .section--img.bottom {
        margin-left: 0;
        margin-right: 32px;
    }

    .section--img.bottom:before {
        display: none;
    }

    .section--img.bottom:after {
        content: "";
        display: block;
        width: 325px;
        height: 2px;
        margin-left: 2rem;
        background-color: #000000;
        opacity: 0.3;
        position: absolute;
        left: 261px;
        top: 0;
    }

    .article.form {
        margin: 76px 32px;
        width: 704px;
        overflow: hidden;
    }

    .article.form h2 {
        height: 43px;
        font-size: 36px;
        line-height: 120%;
    }

    .form--input {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 323px;
        margin-right: 18px;
        text-align: left;
    }

    .form--input h5 {
        margin-top: 32px;
    }

    .form--info {
        width: 290px;
        height: 248px;
        margin: 0;
        margin-top: 60px;
        padding: 16px 32px 16px 16px;
        text-align: left;
    }

    .form--info h6 {
        margin-top: 0;
    }

    .form--info p {
        margin-top: 24px;
    }

    .cost p {
        font-size: 32px;
        line-height: 32px;
        margin-top: 0;
    }

    .cost p span {
        font-size: 16px;
        line-height: 16px;
    }

    .discount p {
        margin-top: 10px;
        margin-left: 10px;
    }

    .input {
        margin-top: 18px;
        margin-left: 343px;
    }

    .input input {
        width: 343px;
    }

    .btn {
        margin-top: 18px;
        margin-left: 335px;
    }

    .text {
        margin-top: 48px;
    }
}

@media (max-width: 360px) {
    .page {
        width: 360px;
        text-align: left;
    }

    .page h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .main {
        margin: 76px 24px;
    }

    .article {
        display: grid;
        width: 312px;
    }

    .section {
        width: 312px;
    }

    .section.first, .section.second {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .section.first .section--img:after, .section.second .section--img:after {
        top: -250px;
        left: -40px;
    }

    .section.third, .section.fourth {
        display: flex;
        flex-wrap: wrap;
    }

    .section.third .section--img:after, .section.fourth .section--img:after {
        top: -250px;
        left: -40px;
    }

    .article.form {
        position: relative;
        width: 312px;
        margin: 0 24px;
    }

    .input {
        margin-top: 300px;
        margin-left: 0;
        top: 600px;
    }

    .input input {
        width: 312px;
    }

    .btn {
        margin-top: 32px;
        margin-left: 0px;
        margin-bottom: 76px;
    }

    .form--info {
        position: absolute;
        bottom: 350px;
        margin: 0;
    }
}

@font-face {
    font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Bold"), local("Helvetica-Neue-Bold"), url("HelveticaNeueCyr-Bold.woff2") format("woff2"), url("HelveticaNeueCyr-Bold.woff") format("woff"), url("HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
  src: local("Helvetica Neue Roman"), local("Helvetica-Neue-Roman"), url("HelveticaNeueCyr-Roman.woff2") format("woff2"), url("HelveticaNeueCyr-Roman.woff") format("woff"), url("HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
